<!--
  ~ Copyright (c) 2021. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--@subject {{var store.getFrontendName()}}: Quote request # {{var quote.increment_id}} requires you attention @-->
<!--@vars {
"var quote.increment_id":"Quote Id"
} @-->
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %salesrep_name," salesrep_name=$salesrep.name}}</p>

            <p>
                {{trans "Quote request #%increment_id placed on %created_at requires your attention." increment_id=$quote.increment_id created_at=$quote.getCreatedAtFormatted(1) |raw}}
            </p>

            <p>
                {{trans "This note is sent to you, because you are set to be notified on auto proposal if the subtotal is within the range %min_value to %max_value" min_value=$auto_proposal_range.min_value max_value=$auto_proposal_range.max_value |raw}}
            </p>
        </td>
    </tr>
</table>
